<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta content="text/html;charset=UTF-8"/>
    <title th:text="${title}"></title>
    <div th:replace="fragments/header :: header-css"></div>
    <div th:replace="fragments/header :: header-js"></div>
</head>
<body class="easyui-layout">
<div class="header" data-options="region:'north',split:false" style="">
    <div th:replace="fragments/header :: header"></div>
</div>
<div class="footer" data-options="region:'south',split:false" style="">
    <div th:replace="fragments/footer :: footer"></div>
</div>
<div class="sider" data-options="region:'west',split:false" style="">
    <div th:replace="fragments/sider :: sider"></div>
</div>
<div class="container" data-options="region:'center',split:false" style="">
    <div class="easyui-panel" title="首页">
        
    </div>
</div>

<div th:replace="fragments/footer :: js"></div>
</body>
</html>